<div class='text'>
  <%= %q{
<p>
  News.znaigorod.ru это общегородской агрегатор Томских СМИ. Все новости города Томска попадают к нам на страницу. Но главная "фишка" нашего проекта в том, что можно смотреть на информационные тренды региона. То что вызывает наибольший отклик у пользователей социальных сетей. Количество репостов, лайков, посещений, из всего этого путём сложного уравнения складывается наш рейтинг.
</p>
<p>
  Помимо этого можно осуществлять поиск по текстам новостей, тем самым отслеживать интересующие информ поводы, личностей, организации и просто ключевые слова.
</p>
<p>
  Это очень удобно.
</p>

<h1>Для СМИ</h1>

<p>
  Мы собираем RSS каналы со всех новостных сайтов (добавленных в нашу базу). По этим каналам можно осуществлять поиск. Пользователи могут отслеживать те или иные события, информ поводы, личностей, организации или любые другие ключевые слова. Если вам важно, чтобы ваш материал выпадал по поиску на нашем сайте znaigorod.ru (а сейчас это порядка 3000 человек в сутки, и аудитория постоянно растёт), то вам нужно настроить полный вывод материала статьи или новости в RSS ленту.
</p>
<p>
  Мы сделали все СМИ равными, выиграют только те, кто быстрее выкладывает новости, чей RSS канал работает в полном объёме, а не только вывод заголовка и короткой аннотации.
</p>
<h2>Контактная информация</h2>
<p>
  <a href="mailto:office@znaigorod.ru">office@znaigorod.ru</a>
</p>
<p>
  тел. 57-50-07
</p>
  }.gilensize.html_safe %>
</div>
