<div id="dialog" title="Добавить новость">
  <div class="modal">
    <%= simple_form_for SuggestedEntry.new, method: :post do |f| %>
      <div class="submit">
        <%= f.submit 'Отправить', class: "btn", autofocus: false %>
      </div>
      <%= f.input :url, :label => false, :placeholder => "Ссылка на новость" %>
    <% end %>
  </div>
</div>
