<% @entries.each do |entry| %>
  <tr>
    <td class='left'>
      <span class="icon"><%= image_tag entry.favicon, size: "16x16" %></span>
      <p><%= link_to entry.title, entry.url, target: "_blank" %></p>
    </td>
  </tr>
<% end %>
<% unless @entries.num_pages == @entries.current_page %>
  <tr>
    <td>
      <%= link_to_next_page @entries, 'Загрузить еще 15 новостей', :remote => true, :class => 'js-next btn next_page', :params => params %>
    </td>
  </tr>
<% end %>
