app:
  secret:               SECRET
  url:                  REDIRECT_URL

errors:
  key:                  KEY
  url:                  URL

facebook:
  access_token:         TOKEN
  access_secret_token:  SECRET

redis:
  url:                  URL

solr:
  url:                  URL

twitter:
  access_token:         TOKEN
  access_token_secret:  SECRET_TOKEN
  consumer_key:         KEY
  consumer_secret:      SECRET

znaigorod:
  url:                  URL
