app:
  secret:               SECRET

errors:
  key:                  KEY
  url:                  URL

redis:
  url:                  URL

solr:
  url:                  URL

twitter:
  access_token:         TOKEN
  access_token_secret:  SECRET_TOKEN
  consumer_key:         KEY
  consumer_secret:      SECRET

znaigorod:
  url:                  URL
