<div class='promo'>
  <div class='logotype'>
    <%= image_tag 'znaigorod_logotype.png', :size => '67x36', :alt => 'ЗнайГород' %>
  </div>
  <div class='text'>
    <%= t('site.description') %>
  </div>
</div>
