<div class='social-likes__wrapper'>
  <div class='social-likes' data-url='http://news.znaigorod.ru'>
    <div class='vkontakte' title='Поделиться ссылкой во Вконтакте'>Вконтакте</div>
    <div class='facebook' title='Поделиться ссылкой на Фейсбуке'>Facebook</div>
    <div class='twitter' data-via='znaigorod' title="Поделиться ссылкой в Твиттере">Twitter</div>
    <div class='plusone' title='Поделиться ссылкой в Гугл-плюсе'>Google+</div>
    <div class='mailru' title='Поделиться ссылкой в Моём мире'>Мой мир</div>
    <div class='odnoklassniki' title='Поделиться ссылкой в Одноклассниках'>Одноклассники</div>
  </div>
</div>
